<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>健康申报信息</title>
</head>
<body>
<a href="{% url 'a_return' %}">返回</a>

    <form action="/a_day_clock/" method="post">
        {% csrf_token %}
        <p><label>请输入需查询的学生学号</label></p>
        <p><label>学号</label><input type="text" name="id"></p>
        <input type="submit" value="查询">
    </form>


<table width="400" border="1" cellpadding="10">
  <tr>
    <th>学号</th>
    <th>体温</th>
    <th>健康码</th>
    <th>紧急联系人</th>
  </tr>
    {% for line in data %}
    <tr>
        {% for i in line %}
            <td>{{ i }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</body>
</html>