<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>健康码恢复</title>
</head>
<body>
<a href="{% url 'a_return' %}">返回</a>
<table width="400" border="1" cellpadding="10">
  <tr>
    <th>学号</th>
    <th>健康码</th>
    <th>恢复</th>
  </tr>
    {% for line in data %}
    <tr>
        <td>{{ line.u_id }}</td>
        <td>{{ line.healthcode }}</td>
        {% if line.healthcode == '绿色' %}
                <td>无法操作</td>
        {% else %}
                <td width="92" class="nav" ><a href='{% url 'a_healthcode_up' line.u_id %}' >恢复</a></td>
    {% endif %}

    </tr>
    {% endfor %}
</table>
</body>
</html>