<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生健康申报内容查询</title>

</head>
<body>
    <a href="{% url 'a_nav' %}">返回</a>
    <p><label>请输入需查询的学生学号</label></p>
    <p><label>学号</label><input type="text" name="name"></p>
    <input type="submit" value="查询">



    <p><label>当日体温</label><textarea rows="1" cols="20">temperature</textarea>
    <p><label>打卡时间</label><textarea rows="1" cols="20">time</textarea>
    <p><label>上一次核酸检测时间</label><textarea rows="1" cols="20">t_time</textarea>
    <p><label>核酸检测结果</label><textarea rows="1" cols="20">result</textarea>


</body>
</html>