<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<h1><a href="{% url "to_Login" %}">返回</a></h1>
<form action="/register/" method="post">
    {% csrf_token %}
    <p><label>姓名</label><input type="text" name="name"></p>
    <p><label>密码</label><input type="text" name="pwd"></p>
    <p><label>身份</label><input type="text" name="identity"></p>
    <p><label>入学年份/执教年份</label><input type="text" name="in_year"></p>
    <p><label>班级</label><input type="text" name="classes"></p>
    <p><label>宿舍</label><input type="text" name="dormitory"></p>
    <p><label>手机号</label><input type="text" name="phone"></p>
    <p><label>邮箱</label><input type="text" name="email"></p>
    <p><input type="submit" id="submit" value="注册"></p>
</form>
</body>
</html>