<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>核酸检测提交</title>
</head>
<body>
<a href="{% url 'u_return' id%}">返回</a>
<h1 align="center">核酸检测上传</h1>
<div id="upload" style="text-align: center">
    <form method="post" enctype="" id="file_upload">
    ----enctype 里面上传到其他网站----
	<p>图片预览：</p>
	<img id="image-preview">
	<p>
	<input type="file" id="file" name="upload_image" accept="image/gif, image/jpeg, image/png, image/jpg">
	</p>
    <p id="info"></p>
</form>
</div>
<style type="text/css">

</style>
</body>
</html>