<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>申请出校</title>
</head>
<body>
<a href="{% url 'u_return' id%}">返回</a>
<form action="{% url 'go_out' id %}" method="post">
    {% csrf_token %}
    <table id="go_out">
        <tr>学号</tr><tr>{{ id }}</tr>
        <br>
        <tr>申请时长<input type="text" name="time"></tr>
        <br>
        <tr>原因<input type="text" name="reason"></tr>
        <br>
        <tr>通行码状态</tr>
        <div id="upload" style="text-align: left">
            <form method="post" enctype="" id="file_upload">
            <img id="image-preview">
            <p>
            <input type="file" id="file" name="upload_image" accept="image/gif, image/jpeg, image/png, image/jpg">
            </p>
            <p id="info"></p>
                <p><input type="submit" id="submit" value="提交"></p>
            </form>
        </div>
    </table>
</form>

</body>
</html>