<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>出入门管理</title>
</head>
<body>
    <a href="{% url 'u_return' id%}">返回</a>
    <br><br>
    <form action="{% url 'inout_door' id %}" method="post" id="in_out">
        {% csrf_token %}
        <tr>当前时间：</tr>
        <br>{{ time }}<br>
        <label id="in_out"><input type="radio" name="i_o" value="出">出</label>
        <label id="in_out"><input type="radio" name="i_o" value="入">入</label>
        <br><br>
        <label id="door"><input type="radio" name="door" value="东">东</label>
        <label id="door"><input type="radio" name="door" value="南">南</label>
        <label id="door"><input type="radio" name="door" value="西">西</label>
        <label id="door"><input type="radio" name="door" value="北">北</label>
        <br><br>
        <button onclick="login()">提交</button>
    </form>
    <script>
        function login()
        {
            document.getElementById('in_out').submit()
        }
    </script>
{% if messages %}
<script>
    {% for msg in messages %}
        alert('{{ msg.message }}');
    {% endfor %}
</script>
{% endif %}
</body>
</html>