<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'u_return' id %}">返回</a>
<a href="{% url 'u_info' id %}">个人资料</a>
<br>
<a href="{% url 'u_schedul' id %}">外出地点报备</a>
<br>
<br>
<a href="{% url 'u_go_out' id %}">申请出校</a>
<br>
<br>
<a href="{% url 'u_covid_test' id %}">核酸上报</a>
<br>
<br>
<a href="{% url 'u_daycard' id %}">每日打卡</a>
<br>
<br>
<a href="{% url 'u_inout_door' id %}">出入校门</a>
<br>
<br>
<a href="{% url 'u_my_schedule' id %}">本人行程</a>
<table width="400" border="1" cellpadding="10">
  <tr>
    <th>reason</th>
      <th>time</th>
  </tr>
    {% for line in data %}
    <tr>
        {% for i in line %}
            <td>{{ i }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</body>
</html>