<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'logout' %}">退出登录</a>
<h3>
    欢迎{{ name }} {{ identity }}登入校园疫情防控信息管理系统
</h3>
<a href="{% url 'u_info' id %}">个人资料</a>
<br>
<a href="{% url 'u_schedul' id %}">外出地点报备</a>
<br>
<br>
<a href="{% url 'u_go_out' id %}">申请出校</a>
<br>
<br>
<a href="{% url 'u_covid_test' id %}">核酸上报</a>
<br>
<br>
<a href="{% url 'u_daycard' id %}">每日打卡</a>
<br>
<br>
<a href="{% url 'u_inout_door' id %}">出入校门</a>
</body>
</html>